@import url(global.css);

.primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
}

.secondary {
    display: flex;
    justify-content: space-between;
    padding-block: 14px;
    border: solid 1px var(--stroke-color);
    border-inline: none;
}

.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

img {
    max-width: 100%;
}

main {
    margin-top: 40px;
}

#featured {
    img {
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
}