@import url(global.css);

.primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
}

.secondary {
    display: flex;
    justify-content: space-between;
    padding-block: 14px;
    border: solid 1px var(--stroke-color);
    border-inline: none;
}

.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

img {
    max-width: 100%;
}

main {
    margin-top: 40px;
}

#featured {
    img {
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
}

.card {
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        top: 50%;
        background: linear-gradient(
            180deg,
            transparent 0%,
            #020617 100%
        )
    }

    figcaption {
        position: absolute;
        bottom: 0;
        padding: 24px;

        &:has(.text-lg) {
            padding: 12px;
        }

        h2 {
            margin-top: 8px;
        }
    }
}